body {
	/* width: 800px; */
	background-color: #f7f7f7;
	color: #757575;
	font-family: Gill Sans Extrabold, sans-serif;
}

.container {
	width: 80%;
	margin-left: 10%;
	margin-top: 5%;
	margin-right: 10%;
	padding-left: 20px;
	padding-right: 20px;
}

.row {
	width: 100%;
	margin: 0;
}

.header {
	display: block;
}

.pull-left {
	float: left !important;
}

@media ( max-width : 500px) {
	.desc {
		padding-left: 50px !important;
	}
	.cont2 {
		padding-left: 20px !important;
	}
	.graphCont{
	    width: 94% !important;
	}
	.line2-s{
	    font-size: 25px !important;
	}
	.unit-s{
	font-size: 16px !important;
	}
	
}

.pull-right {
	float: right !important;
}

img.backbtn {
	width: 35px;
}

.desc {
	padding-left: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.line1 {
	color: #9a9a9a;
	font-size: 14px;
}

.line2 {
	color: #3f3844;
	font-size: 45px;
}

.unit {
	padding-top: 10px;
	font-size: 35px;
	color: #9a9a9a;
}

.line3 {
	font-size: 20px;
	color: #9a9a9a;
}

.graphCont {
	background-color: rgba(70, 238, 225, 0.19);
	margin-left: 3px;
	width: 97.5%;
	height: 150px;
	margin-bottom: 100px;
}

.cont1 {
	font-size: 12px;
	color: #9a9a9a;
}

.cont2 {
	float: left;
	padding-left: 150px;
	padding-top: 30px;
}

.line2-s {
	color: #3f3844;
	font-size: 35px;
}

img.switchBtn {
	height: 50px;
}

.unit-s {
	padding-top: 10px;
	font-size: 20px;
	padding-left: 5px;
	color: #9a9a9a;
}

.line1-s {
	color: #9a9a9a;
	font-size: 11px;
}
}